@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model kiniaawiBooks.Models.Books
@{
    ViewData["Title"] = "Details";
}

@using kiniaawiBooks.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    List<Books> books = HttpContextAccessor.HttpContext.Session.Get<List<Books>>("books");
    Books book = null;
    if (books != null)
    {
        book = books.FirstOrDefault(c => c.Id == Model.Id);
    }

}

<br />

<h2 class="text-info">Book Details</h2>
<br />
<form asp-action="" method="post" enctype="multipart/form-data">
    <div class="panel panel-default" style="padding-left:20px; padding-top: 25px; padding-bottom: 10px; padding-right:10px;">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="Image"></label>
            </div>
            <div class="col-md-5">
                <img src="~/@Model.Image" alt="Image" class="img-thumbnail" style="height:250px;" />
            </div>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="Title"></label>
            </div>
            <div class="col-md-5">
                <input type="hidden" asp-for="Id" />
                <input asp-for="Title" readonly="readonly" class="form-control" />
            </div>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="Author"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="Author" readonly="readonly" class="form-control" />
            </div>
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="Price ">Price <i class="bi bi-currency-dollar"></i></label>
            </div>
            <div class="col-md-5">
                <input type="number" asp-for="Price" readonly="readonly" class="form-control" />
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        @*<div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Image"></label>
                </div>
                <div class="col-md-5">
                    <input asp-for="Image" readonly="readonly" class="form-control" type="file" />
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>*@
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="BookCategoryId"></label>
            </div>
            <div class="col-md-5">
                @*<select asp-for="BookCategoryId" asp-items="ViewBag.BookCategoryId" class="form-control"></select>*@
                <input asp-for="BookCategoryId" readonly="readonly" class="form-control" />
            </div>
            <span asp-validation-for="BookCategoryId" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="Description"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="Description" readonly="readonly" class="form-control" />
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                @if (Model.IsAvaliable)
                {
                    <img src="~/images/instock.jpg" width="100px" height="50px" />
                }
                else
                {
                    <img src="~/images/notavaliable.png" width="100px" height="50px" />
                }
            </div>
            <div class="col-md-5">
                @if (book != null)
                {
                    <button type="submit" class="btn btn-danger form-control" asp-action="Remove" asp-route-id="@Model.Id">Remove from Cart</button>
                }
                else
                {
                    if (userRole == "User")
                    {
                        <button type="submit" class="btn btn-info form-control" asp-action="Details" asp-route-id="@Model.Id">Add to Cart</button>
                        @*<input type="submit" class="btn btn-info form-control" value="Add to Cart" />*@
                    } else
                    {
                        <h5 style="color:red;">Log in to buy this book</h5>
                    }

                }

            </div>

        </div>
        <div class="form-group">
            <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-return-left"></i> Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml"); }
}
