@page
@model kiniaawiBooks.Models.ApplicationUser
@{
    ViewData["Title"] = "Index";
}

<h2 class="text-info">Registration success</h2>
<br />
<div>
    <h4>You have successfully registered to the application!</h4>
</div>
