@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Create";
}

<br />

<h2 class="text-info">Add New Role</h2>
<br />
<form asp-action="Create" method="post" id="role-form" enctype="multipart/form-data">
    <div class="panel panel-default" style="padding-left:20px; padding-top: 25px; padding-bottom: 10px; padding-right:10px;">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <h5 style="color:red;">@ViewBag.mgs</h5><br/>
        <div class="form-group row">
            <div class="col-md-2">
                <label>Role Name</label>
            </div>
            <div class="col-md-5">
                <input id="name" name="name" required="required" value="@ViewBag.name" class="form-control" />
            </div>
        </div>
        
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-return-left"></i> Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml"); }

    <script>
    $(document).ready(function () {
        $("#role-form").validate({
            rules: {
                UserName: {
                    required: true,

                },
                PasswordHash: {
                    required: true,

                },
                FirstName: {
                    required: true,

                },
                LastName: {
                    required: true,

                },
            }, messages: {
                UserName: "Enter your email",
                PasswordHash: "Enter your password",
                FirstName: "Enter your first name",
                LastName: "Enter your last name",
            }
        });
    });
    </script>
}
