@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model kiniaawiBooks.Models.Books
@{
    ViewData["Title"] = "Create";
}

<br />

<h2 class="text-info">Add New Book</h2>
<br />
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="panel panel-default" style="padding-left:20px; padding-top: 25px; padding-bottom: 10px; padding-right:10px;">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="Title"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="Title" class="form-control" />
            </div>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="Author"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="Author" class="form-control" />
            </div>
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="Price">Price <i class="bi bi-currency-dollar"></i></label>
            </div>
            <div class="col-md-5">
                <input type="number" asp-for="Price" class="form-control" />
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="Image"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="Image" class="form-control" type="file"/>
            </div>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="BookCategoryId"></label>
            </div>
            <div class="col-md-5">
                <select asp-for="BookCategoryId" asp-items="ViewBag.BookCategoryId" class="form-control"></select>
                @*<input asp-for="BookCategoryId" class="form-control" />*@
            </div>
            <span asp-validation-for="BookCategoryId" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="Description"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="Description" class="form-control" />
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="IsAvaliable"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="IsAvaliable" class="" type="checkbox"/>
            </div>
            <span asp-validation-for="IsAvaliable" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-return-left"></i> Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml"); }
}
